html,
body{
  height: 100%;
}

body{
  font-size: 18px;
  line-height: 30px;
  color: $default;
  @extend %rubik-400;
  display: flex;
  flex-direction: column;
}

.title{
  @extend %dmsans-700;
  font-size: 36px;
  color: $title;
}

.top__title{
  font-size: 36px;
  line-height: 24px;
  color: #222933;
  margin-bottom: 15px;
  @extend %rubik-300;
}

.breadcrumbs{
  display: flex;
  justify-content: center;
  padding: 0 5px;
  &__list{
    display: flex;
    flex-wrap: wrap;
  }
  &__link{
    font-size: 14px;
    line-height: 16px;
    color: $atext;
    @extend %rubik-400;
  }
  &__item{
    padding-right: 19px;
    line-height: 1px;
    position: relative;
    &::after{
      content: '/';
      line-height: 0;
      position: absolute;
      right: 6px;
      top: -4px;
      font-size: 14px;
      @extend %rubik-400;
      line-height: 24px;
    }
    &:last-child{
      padding-right: 0;
      &::after{
        display: none;
      }
    }
  }
}

.main{
  flex-grow: 1;
}

.container{
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__container,
.top-slider__container,
.info__container{
  max-width: 1770px;
  margin: 0 auto;
  padding: 0 15px;
}

a{
  font-size: 18px;
  line-height: 30px;
  color: $atext;
  @extend %rubik-400;
}

@media (max-width: 750px){
  .title{
    font-size: 26px;
  }
}

@media (max-width: 595px){
  .title{
    font-size: 22px;
  }
}

@media (max-width: 370px){
  .title{
    font-size: 18px;
  }
}