html,
body{
  height: 100%;
}

body{
  font-size: 18px;
  line-height: 30px;
  color: $default;
  @extend %rubik-400;
  display: flex;
  flex-direction: column;
}

.main{
  flex-grow: 1;
}

.container{
  width: 1770px;
  margin: 0 auto;
  padding: 0 15px;
}

a{
  font-size: 18px;
  line-height: 30px;
  color: $atext;
  @extend %rubik-400;
}