@media (max-width: 1070px){
  .header{
    &__inner{
      padding-right: 10px;
    }
  }
  .footer-top{
    flex-wrap: wrap;
    &__form{
      max-width: 100%;
    }
    &__contact{
      width: 100%;
      margin-right: 0;
      margin-bottom: 30px;
    }
  }
  .menu{
    order: 1;
    margin-left: 25px;
    &__list{
      position: absolute;
      transform: translateY(-200%);
      top: 120px;
      width: 100%;
      left: 0;
      flex-direction: column;
      align-items: center;
      z-index: 5;
      transition: all .3s;
      background-color: $btnclr;
      &.menu__list--active{
        transform: translateY(0);
        transition: all .3s;
      }
    }
    &__list-item + .menu__list-item{
      padding-left: 15px;
    }
    &__list-item{
      text-align: center;
      width: 100%;
      padding: 0 15px;
    }
    &__list-link{
      display: block;
      padding: 12px 0;
    }
    &__btn{
      width: 30px;
      height: 22px;
      border: none;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 0;
      span{
        width: 100%;
        height: 3px;
        background-color: $accent;
      }
      &::after,
      &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: $accent;
      }
      &::before{
        top: 0;
      }
      &::after{
        bottom: 0;
      }
  }
  .user-nav{
    margin-left: auto;
  }
}
}


@media (max-width: 595px){
  .header{
    &__inner{
      padding-right: 0;
    }
  }
  .footer-bottom{
    justify-content: center;
    &__copy{
      width: 100%;
      text-align: center;
    }
  }
  .menu{
    order: 0;
    &__list{
      top: 180px;
    }
  }
  .user-nav{
    width: 100%;
    margin-top: 35px;
    padding-right: 15px;
    justify-content: flex-end;
  }
}

@media (max-width: 370px) {
  .user-nav{
    &__smenu {
    width: 30px;
    height: 30px;
    padding: 7px;
    }
    &__img{
    width: 15px;
    height: 15px;
    }
    &__search {
    width: 30px;
    height: 30px;
    padding: 7px;
    }
    &__info {
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 0 20px;
    width: 140px;
    height: 30px;
    padding: 10px 0;
    }
    &__link {
    position: relative;
    margin-left: 20px;
    }
  }
}