$default: #436372;
$accent: #1a1a1a;
$atext: #7b7b7b;
$title: #191919;
$footer-title: #1f2044;
$btnclr: #a3bbc8;
$bgc: #fcd7b6;



%rubik-300{
  font-family: 'Rubik-Light', sans-serif;
  font-weight: 300;
}

%rubik-400{
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubik-700{
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: 700;
}

%rubik-500{
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%dmsans-500{
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%dmsans-700{
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%btn{
  background-color: $btnclr;
  color: #fff;
  border: none;
  padding: 12px 15px;
  @extend %rubik-400;
}

%checkbox-hidden,
%radio-hidden{
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}x(#{$numbers});
}