$default: #436372;
$atext: #7b7b7b;
$title: #191919;
$accent: #1a1a1a;
$footer-title: #1f2044;
$btnclr: #a3bbc8;



%rubik-400{
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubik-500{
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%dmsans-500{
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%dmsans-700{
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%btn{
  background-color: $btnclr;
  color: #fff;
  border: none;
  padding: 12px 15px;
  @extend %rubik-400;
}