@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  background-color: #fff;
  height: 144px;
  padding: 45px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu{
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 35px;
  }
  &__list-link{
    color: $default;
    text-transform: capitalize;
    @extend %rubik-500;
  }
}

.user-nav{
  display: flex;
  &__link{
    position: relative;
    margin-left: 20px;
  }
  &__info{
    display: flex;
    align-self: center;
    margin-left: 20px;
    background-color: #fcd7b6;
    border-radius: 30px;
    width: 178px;
    height: 50px;
    padding: 20px 30px 10px;
    .user-nav__link:first-child{
      margin-right: 25px;
    }
    .user-nav__link:last-child:before{
      position: absolute;
      content: "";
      width: 1px;
      height: 32px;
      // opacity: 0.8;
      background-color: #fde7d3;
      top: -10px;
      left: -20px;
    }
  }
  &__num{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    font-size: 10px;
    line-height: 17px;
    color: #243f4d;
    text-align: center;
    top: -8px;
    right: -9px;
  }
  &__search{
    background: #edf1f4;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 16px;
  }
  &__smenu{
    background-color: #a3bbc8;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 15px;
  }
}

.footer{
  background-color: #fff;
}

.footer-top{
  padding: 80px 0 55px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dae4e9;
  &__contact{
    width: 200px;
    margin-right: 75px;
  }
  &__nav{
    margin-right: 160px;
  }
  &__form{
    max-width: 270px
  }
  &__logo{
    margin-bottom: 30px;
    display: block;
  }
  &__adress,
  &__email,
  &__phone{
    font-size: 14px;
    display: block;
    margin-bottom: 17px;
    line-height: 21px;
    span{
      text-transform: uppercase;
    }
  }
  &__title{
    color: $footer-title;
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  &__link{
    margin-bottom: 15px;
    display: block;
    font-size: 14px;
  }
  &__text{
    font-size: 14px;
    @extend %rubik-400;
    margin-bottom: 35px;
  }
  form{
    display: flex;
  }
  &__input{
    background-color: #fef7f0;
    max-width: 170px;
    border: none;
    padding: 12px 15px;
    font-size: 14px;
    &::placeholder{
      font-size: 14px;
      color: #234969;
    }
  }
  &__btn{
    @extend %btn;
    max-width: 100px;
    min-height: 38px;
    @extend %dmsans-500;
    font-size: 14px;
    cursor: pointer;
  }
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
  padding: 30px 0 40px;
  &__copy{
    font-size: 14px;
    @extend %rubik-400;
  }
  &__list{
    display: flex;
  }
  &__link{
    border-right: 1px solid $atext;
    padding: 0 12px; 
  }
  &__link-last{
    border: none;
  }
}

.top-slider{
  &__item{
    display: flex !important;
    justify-content: space-between;
  }
  &__content{
    margin-right: 100px;
  }
  &__title{
    font-size: 72px;
    @extend %rubik-500;
    line-height: 70px;
    margin-bottom: 36px;
  }
  &__text{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 40px;
  }
  &__link{
    display: block;
    width: 200px;
    @extend %btn;
    padding: 20px 25px;
    text-transform: capitalize;
    font-size: 15px;
    line-height: 12px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      width: 22px;
      height: 9px;
      right: 20px;
      background-image: url('../images/arrow.png');
      z-index: 1;
    }
  }
  .slick-dots{
    padding: 200px 0 40px;
    display: flex;
    justify-content: center;
    li{
      padding: 0;
      font-size: 18px;
      button{
        margin: 0 5px;
        border: none;
        background-color: #fff;
        opacity: 0.6;
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }
    .slick-active{
      button{
        // background-color: #fff;
        opacity: 1;
      }
    }
  }
  &__info{
    background-color: #fef7f0;
  }
  &__info-items{
    display: flex;
    justify-content: space-between;
  }
  &__info-item{
    min-height: 170px;
    padding: 35px 125px;
    border-right: 1px solid #e8e4df;
    position: relative;
  }
  &__info-support{
    &::before{
      position: absolute;
      content: '';
      top: 40%;
      left: 50px;
      width: 52px;
      height: 54px;
      transform: translateY(-50%);
      background-image: url(../images/icons/support.png);
    }
  }
  &__info-delivery{
    &::before{
      position: absolute;
      content: '';
      top: 40%;
      left: 50px;
      width: 55px;
      height: 37px;
      transform: translateY(-50%);
      background-image: url(../images/icons/delivery.png);
    }
  }
  &__info-payment{
    &::before{
      position: absolute;
      content: '';
      top: 40%;
      left: 50px;
      width: 54px;
      height: 53px;
      transform: translateY(-50%);
      background-image: url(../images/icons/payment.png);
    }
  }
  &__info-title{
    font-size: 18px;
    line-height: 30px;
    @extend %dmsans-700;
    color: #414141;
  }
  &__info-text{
    font-size: 16px;
    line-height: 30px;
    @extend %dmsans-500;
    color: #585858;
  }
}

.top-slider__inner{
  padding: 200px 285px 0;
  background-color: $bgc;
}

.video{
  min-height: 500px;
  background-image: url(../images/video-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 110px;
}

.products{
  padding: 55px 0 185px;
  text-align: center;
  &__buttons{
    margin: 30px 0 80px;
  }
  &__btn{
    background-color: transparent;
    border: none;
    font-size: 16px;
    @extend %dmsans-700;
    color: #8b8b8b;
    margin: 0 15px;
    cursor: pointer;
    &:hover{
      color: $title;
    }
  }
  &__items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
  }
}

.mixitup-control-active{
    color: $title;
  }

.products-item{
    max-width: 270px;
    width: 100%;
    height: 380px;
    background-color: #fff;
    padding: 20px 35px 25px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    &__link-box{
      position: absolute;
      bottom: 150px;
      right: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateY(3000%);
      transition: all .4s;
    }
    &__link{
      background-color: #fff;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      margin: 0 7px; 
      padding: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: all .4s;
      &:hover{
        background-color: rgb(253, 200, 200);
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      }
    }
    &:hover{
      .products-item__link-box{
        transform: translateY(0);
      }
    }
    img{
      max-width: 240px;
      max-height: 200px;
      margin: auto 0;
    }
    &__text{
      // padding-top: 55px;
      font-size: 16px;
      line-height: 28px;
      @extend %dmsans-700;
    }
    &__title{
      color: #243f4d;
    }
    &__price{
      color: $btnclr;
    }
}

.info{
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &-item{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 870px;
    width: 100%;
    height: 390px;
    background-color: #feefe2;
    margin: 0 16px;
  }
  img{
    position: absolute;
    left: 80px;
    top: -95px;
  }
  &__content{
    margin-left: auto;
    margin-right: 140px;
    width: 350px;
  }
  &__title{
    font-size: 26px;
    @extend %dmsans-700;
    line-height: 32px;
    margin-bottom: 20px;
    color: #243f4d;
  }
  &__text{
    font-size: 16px;
    @extend %rubik-400;
    line-height: 30px;
    margin-bottom: 20px;
    color: #243f4d;
  }
  &__link{
    display: block;
    width: 200px;
    padding: 20px 25px;
    text-transform: capitalize;
    font-size: 15px;
    line-height: 12px;
    position: relative;
    color: #436372;
    background-color: transparent;
    border: 1px solid #436372;
    border-radius: 5px;
    @extend %btn;
    @extend %rubik-500;
    &::after{
      content: '';
      position: absolute;
      width: 22px;
      height: 9px;
      right: 20px;
      background-image: url('../images/arrow-b.png');
      z-index: 1;
    }
  }
}

.new{
  padding: 90px 0 120px;
  text-align: center;
  &__buttons{
    margin: 30px 0 80px;
  }
  &__btn{
    background-color: transparent;
    border: none;
    font-size: 16px;
    @extend %dmsans-700;
    color: #8b8b8b;
    margin: 0 15px;
    cursor: pointer;
    &:hover{
      color: $title;
    }
  }
  .mixitup-control-active{
    color: $title;
  }
  &__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px 30px;
  }
}

.new-item{
    max-width: 370px;
    width: 100%;
    height: 246px;
    background-color: #f8f8f8;
    padding-top: 35px;
    padding-left: 30px;
    position: relative;
    overflow: hidden;
    display: flex;
    &__link-box{
      position: absolute;
      bottom: 30px;
      right: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateY(3000%);
      transition: all .4s;
    }
    &__link{
      background-color: #fff;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      margin: 0 7px; 
      padding: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: all .4s;
      &:hover{
        background-color: rgb(253, 200, 200);
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      }
    }
    &:hover{
      .new-item__link-box{
        transform: translateY(0);
      }
    }
    &__img{
      margin: auto -33%;
    }
    &__chair{
      margin: auto -5%;
    }
    &__title{
      width: 190px;
      @extend %dmsans-700;
      font-size: 20px;
      color: $title;
      text-align: left;
    }
    &__style{
      color: #a3bbc8;
      @extend %dmsans-700;
      font-size: 16px;
      text-align: left;
    }
  }



@import 'media';