@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header{
  background-color: #fff;
  height: 144px;
  padding: 45px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu{
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 35px;
  }
  &__list-link{
    color: $default;
    text-transform: capitalize;
    @extend %roboto-500;
  }
}

.user-nav{
  display: flex;
  &__link{
    position: relative;
    margin-left: 20px;
  }
  &__info{
    display: flex;
    align-self: center;
    margin-left: 20px;
    background-color: #fcd7b6;
    border-radius: 30px;
    width: 178px;
    height: 50px;
    padding: 20px 30px 10px;
    .user-nav__link:first-child{
      margin-right: 25px;
    }
    .user-nav__link:last-child:before{
      position: absolute;
      content: "";
      width: 1px;
      height: 32px;
      // opacity: 0.8;
      background-color: #fde7d3;
      top: -10px;
      left: -20px;
    }
  }
  &__num{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    font-size: 10px;
    line-height: 17px;
    color: #243f4d;
    text-align: center;
    top: -8px;
    right: -9px;
  }
  &__search{
    background: #edf1f4;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 16px;
  }
  &__smenu{
    background-color: #a3bbc8;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 15px;
  }
}



@import 'media';